#app-globe {
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 340px;
    top: 0px;
    left: 0px;
}
#app-geocoder {
    position: relative;
    top: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Lexend', sans-serif;
}

.cesium-geocoder-input {
    width: 85%;
    text-align: center;
    background-color: var(--blue-two);
    padding: 10px;
    border: 2px solid var(--deep-teal);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    transition: var(--default-transition), padding 0.2s;
    outline: none;
    font-family: inherit;
    box-shadow: 0px 0px 2px 0px white;
}
.cesium-geocoder-input:hover {
    padding: 12px !important;
    box-shadow: 0px 0px 10px 0px white;
}
.cesium-geocoder-input:focus {
    box-shadow: 0px 0px 10px 0px white;
}

#app-geocoder ul {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 10px 0px;
}
#app-geocoder li {
    position: relative;
    color: var(--blue-cobalt);
    width: 85%;
    list-style-type: none;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--deep-teal);
    letter-spacing: 1px;
    background: var(--blue-two);
    margin-top: 10px;
    padding: 7.5px 0px;
    border-radius: 10px;
    transition: var(--default-transition), padding 0.2s;
    box-shadow: 0px 0px 5px 0px white;
}
#app-geocoder li:hover {
    padding: 12px;
    box-shadow: 0px 0px 10px 0px white;
}

.cesium-geocoder-searchButton {
    display: none;
}
.cesium-viewer-bottom {
    display: none;
}

.search-results {
    position: relative;
    width: 100%;
}
.cesium-geocoder-input::placeholder {
    color: var(--blue-cobalt);
    font-weight: 500;
}