.app-menu {
    overflow: hidden;
    position: fixed;
    top: 10px;
    left: 20px;
    width: 400px;
    height: calc(100% - 24px);
    background-color: var(--deep-teal);
    border: 2px solid white;
    border-radius: 20px;
    opacity: 0.95;
    z-index: 10;
}
.app-menu-body {
    width: 100%;
    height: calc(100% - 100px);
}